@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body,html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-size: normal;
}

a{
  color: inherit;
  text-decoration: none;
}

/* HEADER PROPERTIES */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto';
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 3.895em;
}
h2{
  font-size: 3.750em;
}
h3{
  font-size: 2.125em;
}


/* HEAD DIV */
.head{
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  -moz-box-shadow: 0 12px 15px 0 rgba(0,0,0,.24);
  -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,.24);
  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24);
  background: #232740;
  color: gray;
}
/* NAVIGATION BUTTONS */
.nav-buttons{
  width: 356px;
  height: 38px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.75em ;
  color: black;
}
.nav-buttons a{
  width: auto;
  display: block;
  float: left;
  color: #9da2be;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
  padding: 6px 2px;
}
.nav-buttons a:hover{
  color: #7e85b5;
}
.nav-buttons-active{
  color: #ccc !important;
}
.nav-buttons-divider{
  height: 32px;
  width: 2px;
  margin-top: 7px;
  float: left;
  background: gray;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

/* CONTENT WRAP */
main{
  float: left;
  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element
}
/* Background for whole site */
main:before{
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  background: url(pattern.svg) no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

/* DIVIDER */
.divider{
  width: 100%;
  height: 2px;
  opacity: 0.5;
  float: left;
  background: #232740;
}



/* CONTENT DIV */
.content{
  width: 100%;
  float: left;
  height: auto;
  padding: 4% 0%;
  color: #4B2F2F; /* 856941 */
  //background: #c2c2c2;
}
.content h1,h2,h3,h4,h5,h6{
  color: #2E324D;
}
h1{
  font-weight: 400;
}
.content img{
  max-width: 27%;
  border-radius: 5px;
  float: left;
  margin: 7px 16px 0px 0px;
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }
.content p{
  margin: 0;
  font-size: 2em;
}
.content b{
  font-weight: 400;
}
.content a{
  font-weight: 400;
}



/* TIMELINE */
.tl-wrapper{
  height: auto;
  margin: 0 auto;
  position: relative;
  font-size: 1.25em;
  z-index: 1;
}
.tl{
  text-align: center;
  margin-bottom: 20px;
}
.tl-line{
  width: 2px;
  height: calc(100% - 100px);
  background: #232740;
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -1px;
  }
.2tl-line:before{
  content: "";
  background: #D1C5B7; /* #D1C5B7 */
  height: 42px;
  width: 2px;
  position: absolute;
  }
.tl-line:after{
  content: "";
  background:  rgb(35, 39, 64); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(35, 39, 64, 1)) 0%, rgba(35, 39, 64, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35, 39, 64, 1)), color-stop(100%, rgba(35, 39, 64, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(35, 39, 64, 1) 0%, rgba(35, 39, 64, 0)) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(35, 39, 64, 1) 0%, rgba(35, 39, 64, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(35, 39, 64, 1) 0%, rgba(35, 39, 64, 0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,   rgba(35, 39, 64, 1) 0%,  rgba(35, 39, 64, 0) 100%); /* W3C */
  height: 30px;
  width: 2px;
  position: absolute;
  bottom: -30px;
}
/* TL CONTENT BOX */
.tl-box{
  swidth: 315px;
  height: auto;
  spadding: 16px;
  margin-bottom: 40px;
  /* border: 1px solid #4B2F2F; */
  position: relative;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  box-sizing: border-box;
  width: 45.5%;
  padding: 2.2%;
  border-bottom: 0.16em solid #232740;
  resize: horizontal;
}
.tl-box b{
  font-weight: 700;
}
/* CIRCLE FOR THE BOXES */
.tl-box:before{
  content: "";
  box-sizing: border-box;
  width: 0.8em;
  height: 0.8em;
  border: 0.15em solid #232740;
  border-radius: 50%;
  background: #8e8e8e;
  position: absolute;
  top: 50%;
  margin-top: -0.4em;
}
/* ARROW FOR THE BOXES */
.tl-box:after{
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  background: #4B2F2F;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: -1;
}
/* PROPERTIES FOR EVEN BOXES */
.tl-box:nth-of-type(even){
  background: #9da2be;
}
.tl-box:nth-of-type(even):before{
  left: 109.91%;
  margin-left: -0.4em
}
.tl-box:nth-of-type(even):after{
  margin-left: -9px;
  left: 100%;
}
/* PROPERTIES FOR ODD BOXES */
.tl-box:nth-of-type(odd){
  margin-left: auto;
  background: #A9ABB7;
}
.tl-box:nth-of-type(odd):before{
  right: 109.89%;
  margin-right: -0.4em;
}
.tl-box:nth-of-type(odd):after{
  margin-right: -9px;
  right: 100%;
}
/* MAKE LAST BOX HAVE NO BOTTOM MARGIN */
.tl-box:last-of-type{
  margin-bottom: 0!important;
}


footer{
  width: 92%;
  height: auto;
  float: left;
  padding: 2% 4%;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 0.2em solid #232740;

}
@keyframes flash {
    0% {background: rgba(255, 255, 255, 0.2);}
    50% {background: rgba(200, 200, 200, 1);}
    100% {background: rgba(255, 255, 255, 0.2);}
}
#footer:target{
  animation: .8s flash;
  animation-iteration-count: 2;
}
footer span{
  float: left;
  line-height: 26px;
  font-weight: 400;
  margin-right: 20px;
}
footer span:nth-of-type(4){
  float: right;
}
footer span a:before{
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 3px;
}
a.tw:before{
  content: url(twitter-box.svg);
}
a.tw:hover{
  color: #55ACEE;
}
a.fb:before{
  content: url(facebook-box.svg);
}
a.fb:hover{
  color: #3b5998;
}
a.mail:before{
  content: url(gmail.svg);
}

/* MOBILE PHONE PORTAIT */
@media only screen and (min-width : 320px) and (max-width : 460px) {
  .tl-box{
    width: 91%;
    padding: 4%;
    margin: 0 0 8% auto;
    font-size: 0.9em;
  }
  .tl-box:before{
    right: 109.89% !important;
    left: auto !important;
    margin-right: -0.8em !important;
  }
  .tl-box:after{
    margin-right: -9px !important;
    right: 100% !important;
    left: auto !important;
  }
  .tl-line{
    left: 0.4em;
    margin-left: -1px;
  }
  .head h1{
    font-size: 3em;
  }
  footer span:nth-of-type(4){
    display: none;
  }
  .content{
    width: 92%;
    padding: 4%;
  }
  .content p{
    margin: 0;
    font-size: 1.6em;
  }
  .content h1{
    font-size: 3em;
  }
}

@media only screen and (min-width : 461px) and (max-width : 979px) {
  .tl-box{
    font-size: 0.9em;
  }
  footer span:nth-of-type(4){
    display: none;
  }
  .content{
    width: 92%;
    padding: 4%;
  }
}

@media screen and (min-width: 980px) {
  body{

  }
  .box-wrap{
    max-width: 1060px;
    height: auto;
    margin: 0 auto;
  }
  .tl-wrapper{
    width: 746px;
  }
  footer{
    margin-bottom: 3%;
  }
}
