@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

//Less variables
@baseBlue: #2E324D;
//Less mixins
.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
  background: linear-gradient(to bottom, @startColor, @endColor);
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}
.rotate(@deg: 180deg){
  transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
}

//Everything should use border-box
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #3d3d3d;
  font-size: normal;
  background: #eee;
}

a{
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}
b{
  font-weight: 400;
}
p{
  margin: 0;
  font-size: 2em;
}

/* HEADER PROPERTIES */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
  color: @baseBlue;
}
h1{
  font-size: 3.895em;
}
h2{
  font-size: 3.750em;
}
h3{
  font-size: 2.125em;
}



/* NAVIGATION BUTTONS */
nav{
  position: relative;
  width: 100%;
  height: 46px;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-size: 6.7vw;
  .drop-shadow(0, 12px, 15px, 0, .24);
  background: darken(@baseBlue, 6%);


  & a{
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0px 10px;
    padding: 6px 2px;
		color: #ccc;
		//color: #9da2be;
    cursor: pointer;
    font-weight: 300;
    &:hover{
      color: #7e85b5;
    }
  }
}
.nav-buttons-active{
  color: #ccc !important;
}
.nav-buttons-divider{
  display: inline-block;
  position: relative;
  width: 2px;
  height: 68%;
  top: 14%;
  background: gray;
  .rotate(20deg);
}
.nav-buttons-disabled{
	color: #666;
	&:hover{
		color: #666;
		cursor: default;
	}
}


/* MAIN */
main{
  float: left;
}

/* CONTENT DIV */
.content{
  float: left;
  width: 100%;
  height: auto;
  padding: 4% 0%;
  color: #4B2F2F;
}

/* DIVIDER */
.divider{
  float: left;
  width: 100%;
  height: 2px;
  opacity: 0.5;
  background: @baseBlue;
}

/* TIMELINE */
.tl-wrapper{
  position: relative;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}
.tl{
  text-align: center;
  margin-bottom: 20px;
}
/* TL CONTENT BOX */
.tl-box{
  position: relative;
  width: 45.5%;
  height: auto;
  padding: 2.2%;
  margin-bottom: 40px;
  .border-radius(2px);
  border-bottom: 0.16em solid @baseBlue;
  .drop-shadow(0, 2px, 5px, 0, .26);
  font-size: 1.125em;

  /* PROPERTIES FOR EVEN BOXES */
  &:nth-of-type(odd){
    background: #9da2be;
    &:after{
      margin-left: -9px;
      left: 100%;
    }
  }
  /* PROPERTIES FOR ODD BOXES */
  &:nth-of-type(even){
    margin-left: auto;
    background: #A9ABB7;
    &:after{
      margin-right: -9px;
      right: 100%;
    }
  }
  /* MAKE LAST BOX HAVE NO BOTTOM MARGIN */
  &:last-of-type{
    margin-bottom: 0!important;
  }
  /* ARROW FOR THE BOXES */
  &:after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-top: -9px;
    .rotate(45deg);
    background: #4B2F2F;
    z-index: -1;
  }
  & b{
    font-weight: 700;
  }
  &:last-of-type > .tl-circle:after{
    display: none;
  }
  &:nth-of-type(1) > .tl-circle:before{
    display: none;
  }
  &:nth-of-type(even) > .tl-circle{
    right: 109.84%;
    margin-right: -8px;
  }
  &:nth-of-type(odd) > .tl-circle{
    left: 109.90%;
    margin-left: -8px;
  }
}
.tl-circle{
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  .border-radius(50%);
  border: 2px solid @baseBlue;
  background: #8e8e8e;

  &:before, &:after{
    content: "";
    position: absolute;
    width: 2px;
    height: 4em;
    background: @baseBlue;
    left: 5px;
  }
  &:after{
    top: 14px;
  }
  &:before{
    bottom: 14px;
  }
}


@keyframes flash {
    0% {background: rgba(255, 255, 255, 0.2);}
    50% {background: rgba(200, 200, 200, 1);}
    100% {background: rgba(255, 255, 255, 0.2);}
}
.animation{
  animation: .8s flash;
  animation-iteration-count: 2;
}
footer{
  width: 100%;
  height: auto;
  float: left;
  padding: 2% 4%;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 0.2em solid @baseBlue;

  & span{
    float: left;
    line-height: 26px;
    font-weight: 400;
    margin-right: 20px;

    &:nth-of-type(4){
      float: right;
    }
    & a:before{
      width: 28px;
      height: 28px;
      float: left;
      margin-right: 3px;
    }
    & a.tw:before{
      content: url('../images/twitter-box.svg');
    }
    & a.tw:hover{
      color: #55ACEE;
    }
    & a.fb:before{
      content: url('../images/facebook-box.svg');
    }
    & a.fb:hover{
      color: #3b5998;
    }
    & a.mail:before{
      content: url('../images/gmail.svg');
    }
  }
}


/* MOBILE PHONE PORTAIT */
@media only screen and (min-width : 320px) and (max-width : 460px) {
  .content{
    padding: 4%;
  }
  .content p{
    margin: 0;
    font-size: 1.6em;
  }
  .content h1{
    font-size: 3em;
  }
  .tl-box{
    width: 82vw;
    padding: 4%;
    margin: 0 0 8% auto;
  }
  .tl-circle{
    //right: 109.89% !important;
		right: 89vw !important;
		left: auto !important;
    //margin-right: -16px !important;
		margin-right: -8px !important;
  }
  .tl-box:after{
    margin-right: -9px !important;
    right: 100% !important;
    left: auto !important;
  }
  .tl-line{
    left: 1.8%;
  }
  footer span:nth-of-type(4){
    display: none;
  }
}

@media only screen and (min-width : 461px) and (max-width : 979px) {
  nav{
    font-size: 1.75em;
  }
  .content{
    padding: 4%;
  }
	.content p{
    margin: 0;
    font-size: 1.6em;
  }
  footer span:nth-of-type(4){
    display: none;
  }
}

@media screen and (min-width: 980px) {
	body{
		&:before{
			content: ' ';
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url('../images/pattern.svg') no-repeat center center;
			background-size: cover;
			will-change: transform;
			z-index: -1;
		}
	}
  nav{
    font-size: 1.75em;
  }
  .box-wrap{
    max-width: 1050px;
    height: auto;
    margin: 0 auto;
  }
  .tl-wrapper{
    width: 746px;
  }
  .tl-box{
    font-size: 1.25em;
  }
  footer{
    margin-bottom: 3%;
  }
}
